definitions:
  main.ReturnData:
    properties:
      code:
        type: integer
      data: {}
      status:
        type: string
      success:
        type: boolean
    type: object
  model.Pengeluaran:
    properties:
      ID:
        type: integer
      jumlah:
        type: integer
      namapengeluaran:
        type: string
      tanggal:
        type: string
    type: object
  model.Penjualan:
    properties:
      id:
        type: integer
      jumlahpenjualan:
        type: integer
      namaproduk:
        type: string
      tanggaldatamasuk:
        type: string
    type: object
info:
  contact: {}
  title: LAPAK-UMK OPEN API PROTOTYPE
  version: "2.0"
paths:
  /lapumk/inspengeluaran:
    post:
      consumes:
      - application/json
      description: get data Pengeluaran.
      parameters:
      - description: Payload Body [RAW]
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/model.Pengeluaran'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Pengeluaran'
      summary: insert data Pengeluaran.
      tags:
      - Lapak-UMKM
  /lapumk/inspenjualan:
    post:
      consumes:
      - application/json
      description: get data penjualan.
      parameters:
      - description: Payload Body [RAW]
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/model.Penjualan'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Penjualan'
      summary: insert data penjualan.
      tags:
      - Lapak-UMKM
  /lapumk/pengeluaran/{namapengeluaran}:
    get:
      consumes:
      - application/json
      description: get data pengeluaran.
      parameters:
      - description: Masukan namapengeluaran
        in: path
        name: namapengeluaran
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Pengeluaran'
      summary: Mengambil data Pengeluaran (single).
      tags:
      - Lapak-UMKM
  /lapumk/penjualan/{NamaProduk}:
    get:
      consumes:
      - application/json
      description: get data Penjualan.
      parameters:
      - description: Masukan namaproduk
        in: path
        name: NamaProduk
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Penjualan'
      summary: Mengambil data Penjualan (single).
      tags:
      - Lapak-UMKM
swagger: "2.0"
